<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= pageTitle %></title>
  <!-- plugins:css -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="/css/themify-icons.css">
  <link rel="stylesheet" href="/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/css/vendor.bundle.addons.css">
  <!-- <link rel="stylesheet" href="/css/datatables.min.css"> -->
  <link rel="stylesheet" href="/css/pnotify.custom.min.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/custom.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../../../images/favicon.png" />
  <script src="/js/jquery.js"></script>
  <!-- <script src="/js/custom.js"></script> -->
</head>