<!--Head-->
<% include ../partials/head %>
<!--Head Ends-->

<!--Header-->
<% include ../partials/header %>
<!--Header Ends-->

<div class="content-wrapper"></div>

<!--Footer-->
<% include ../partials/footer %>
<!--Footer Ends-->